<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://<%= ip %>:5252/build/<%= file %>/app.min.css">
        <script type="text/javascript">
            window.onerror = function (err, line) {
                alert(err);
                alert(line)
            }
        </script>
    </head>
    <body>
        <div id="root">
            <div>首屏加载2</div>
        </div>
        <script src="http://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://<%= ip %>:5252/build/<%= file %>/app.min.js"></script>
        <script src="/reload/reload.js"></script>
    </body>
</html>
